.rs-form__wrapper {
  padding: 66px 70px;
  border-radius: 20px;
  background: var(--second-color);
}
@media (max-width: 1439.98px) {
  .rs-form__wrapper {
    padding: 50px 30px;
  }
}
@media (max-width: 1169.98px) {
  .rs-form__wrapper {
    padding: 30px 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-form__wrapper {
    padding: 30px 16px;
  }
}
@media (min-width: 991.98px) {
  .rs-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-form__request {
  color: #fff;
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-form__request {
    max-width: 40.69%;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-form__request {
    max-width: 50%;
  }
}
.rs-form__request h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 105%;
  letter-spacing: 0px;
}
@media (max-width: 1439.98px) {
  .rs-form__request h1 {
    font-size: 45px;
  }
}
@media (max-width: 991.98px) {
  .rs-form__request h1 {
    font-size: 30px;
  }
  .rs-form__request h1 br {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .rs-form__request h1 {
    font-size: 20px;
  }
}
.rs-form__request p {
  margin-top: 14px;
}
@media (max-width: 1439.98px) {
  .rs-form__request p {
    margin-top: 10px;
  }
}
.rs-form__request .title-icon {
  width: 55px;
  height: 55px;
  margin: 0px 0px 0px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 11px;
  background-color: var(--primary-color);
  padding: 9px;
}
@media (max-width: 1439.98px) {
  .rs-form__request .title-icon {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 991.98px) {
  .rs-form__request .title-icon {
    display: none;
  }
}
.rs-form__form {
  margin-top: 33px;
}
@media (max-width: 1439.98px) {
  .rs-form__form {
    margin-top: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-form__img {
    margin: -9.5% -3.8% -8.7% 0%;
  }
}
@media (max-width: 991.98px) {
  .rs-form__img {
    max-width: 451px;
    margin: 10px auto -20px;
  }
}
.rs-form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}